<nav class="navbar navbar-light bg-light">
  <%if user_signed_in? %>
    <%= link_to t('.user_badges'), given_badges_path %>
    <%= link_to t('.tests_list'), tests_path %>
    <%= link_to t('.badges_list'), badges_path %>
    <% if current_user.admin? %>
      <%= link_to t('.admin_gists'), admin_gists_path %>
    <% end %>
        <div>
             <%= link_to t('.feed_back'), feed_back_index_path %>
          </p>
        </div>
        <div>
           <p>Welcome, <b><%= current_user.name_for_greeting %></b>
             <%= link_to 'logout', destroy_user_session_path, method: :delete %>
           </p>
        </div>
  <% else %>    
    <div>
      <p>
        Welcome, please <%= link_to 'login', new_user_session_path %> or <%= link_to 'signup', new_user_registration_path %>
      </p>
    </div>
  <% end %>
</nav>