<h1> <%= t('.header', title: @processed_test.test.title) %></h1>
<b>
  <div class="questions_params" data-current-question-number=<%=@processed_test.question_number %>>
  <%= t('.question_number', number: @processed_test.question_number, count: @processed_test.test.questions.count) %>
  </div>
    <div class="progress-bar">
      <% @processed_test.test.questions.each.with_index do |name, index| %>
      <%= content_tag :div, '', class: 'bar-element', data: { question_num: index} %>
      <% end %>
    </div>
  <p>
    <%= @processed_test.current_question.body %>
  </p>
</b>
<%= form_with url: processed_test_path(@processed_test), local: true, method: :put do |form| %>
<%= form.collection_check_boxes :answer_ids, @processed_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
<p>
  <%= b.check_box id:"answer_ids_#{b.object.id}" %>
  <%= b.label %>
</p>
    <%end %>
  <p> <%= link_to 'Gist Question', gist_processed_test_path(@processed_test), method: :post %></p>
  <p><%= form.submit t('.next_question')%></p>
<% end %>