<div class="col-7">
<h1>
  <div class="sort-by-title pointer">
    <%= t('.header') %>
    <%= octicon 'arrow-up', class: 'text-success hide', height:24 %>
    <%= octicon 'arrow-down', class: 'text-success hide', height:24 %>
  </div>
</h1>
<h2>
  <%= button_to  t('.new'), new_admin_test_path,  { class: 'btn btn-outline-success btn-lg', method: :get }%>
</h2>
</div>
<%= render 'shared/errors', resource: @test %>
  <div class="col-7 items-list">
    <% @tests.each do |test| %>
    <div class="list-group">
      <li class="list-group-item" >
        <div class="row justify-content-between">
          <div class="col-8">
            <%= content_tag :h5, link_to(test.title, admin_test_path(test)) , class: 'test-title', data: { test_id: test.id} %>
            <%= render 'form_inline', test: test == @test ? @test : test  %>
            <p class="mb-1"><%=  t('.test_category', category: test.category.title)  %></p>
            <div class="row justify-content-start">
              <div class="col-3">
                <small> <%= test_level(test)%> </small>
              </div>
              <div class="col-3">
                <small> <%= button_to  t('.edit'), edit_admin_test_path(test), { data: { test_id: test.id}, class: 'btn btn-outline-primary btn-sm form-inline-link', method: :get }%>  </small>
              </div>
              <div class="col-3">
                <small> <%= button_to  t('.delete'), admin_test_path(test), { class: 'btn btn-outline-danger btn-sm', method: :delete }%>  </small>
              </div>
            </div>
          </div>
          <div class="col-4">
            <small><%= t('.test_questions_count', count: test.questions.count)  %>
              <p> <%= button_to  t('.start'), start_test_path(test), { class: 'btn btn-success btn-sm' } %></p>
            </small>
          </div>
        </div>
      </li>
    </div>
    <% end %>
  </div>

