<h1><%= @test.title %></h1>

<h2> Questions </h2>

<%= link_to 'New question', new_admin_test_question_path(@test) %>
<ol>
  <%= render @test.questions %>
</ol>

<%= link_to 'Edit' %> |
<%= link_to 'Back', tests_path(@test) %>



