<h1> <div class="col-7"><%= t('tests.index.header') %></div></h1>
<% @tests.each do |test| %>
  <div class="col-7">
<div class="list-group">
  <li class="list-group-item" >
      <div class="row justify-content-between">
        <div class="col-8">
          <h5 class="mb-1"><%= test.title %></h5>
          <p class="mb-1"><%=  t('.test_category', category: test.category.title)  %></p>
          <small> <%= test_level(test)%>  </small>
        </div>
        <div class="col-4">
          <small><%= t('.test_questions_count', count: test.questions.count)  %>
            <p> <%= button_to  t('.start'), start_test_path(test), {class: 'btn btn-success btn-sm'} %></p>
          </small>
        </div>
      </div>
  </li>
</div>
</div>
<% end %>
