<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
   <%= link_to 'Tests list', tests_path %>
    <%if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.first_name %></b></p>
      <p class="nav user"><%= link_to 'logout', logout_path, method: :post %></p>
    <% else %>
      <p class="nav user">Welcome, please <%= link_to 'login', login_path %> or <%= link_to 'signup', signup_path %> </p>

    <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer>
     <%=render 'layouts/footer' %>
  </footer>
</html>
